@tailwind base;
@tailwind components;

@import "../sass/global.scss";
@import "../sass/typography.scss";
@import "../sass/slider.scss";
@import "../sass/accordion.scss";
@import "../sass/form.scss";
@import "../sass/modal.scss";

@tailwind utilities;

@layer utilities {
  .col-count-2 {
    column-count: 2;
    column-gap: 2.5em;
  }
  .break-inside {
    break-inside: avoid;
  }
}
